body {
    margin-top: 20px;
}

h4 {
    text-align: center;
    padding-top: 20px;;
}

.image-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

.buttons {
    float: right;
    padding-right: 15px;
    padding-top: 25px;
}

.table {
    background-color: white;
}

.content {
    padding-top: 20px;
    background-color: lightgray;
    height: 565px;
    margin: 50px auto;
}

/*Ändrar utseendet på tabellen på alla enheter med skärm 768px och under
*/
@media 
screen and (max-width: 768px) {

    table, thead, tbody, th, td, tr { 
		display: block; 
    }
    
    /*Gömmer de gamla rubrikerna 
    */
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
    
    td { 
		border: none;
		position: relative;
        padding-left: 50%; 
        background-color: white;
    }

    th {
        background-color: white;
    }
    
    td:before { 
		position: absolute;
		top: 7px;
		left: 7px;
		width: 50%; 
        padding-right: 10px;
        text-transform: uppercase; 
        white-space: nowrap;
    }

    .content {
        height: 600px;
    }
    
    td:nth-of-type(1):before { content: "Namn"; }
	td:nth-of-type(2):before { content: "Orderdatum"; }
	td:nth-of-type(3):before { content: "Totalsumma"; }
    td:nth-of-type(4):before { content: "Antal produkter beställda"; }
}

/* Lägger knapparna under varandra och centrerar dessa på skärmar 480px och under
*/
@media 
screen and (max-width: 480px) {

    .content {
        height: 710px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .btn {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}



